/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style:none;
}

/* ここからCSSを記述してください */
.header{
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.header-logo{
  float:left;
  padding:20px 40px;
  font-size:36px;
}
.header-list li{
  list-style:none;
float:left;
  padding:33px 20px;
}
span{
color:#ff4a4a;
}
.main{
  margin:100px 80px ;
}
.top-container h1{
  font-size:140px;
}
.top-container h2{
  font-size:60px;
}
.contents{
  height:500px;
  margin:50px;
}
.contents h3{
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  padding:15px;
  margin:80px;
  border-color:#dee7ec;
  margin-bottom:15px;
}
.contents-item{
  float:left;
  margin:;
  font-size:24px;
}
.contents-item p{
  margin:30px auto;
}

form{
  margin:100px 80px;
}

form h3{
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  
}

form p{
  margin:10px;
  padding-bottom:10px;
}


input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.submit{
  
  background-color:#dee7ec;
  color:#889eab;
}

.footer{
 padding:40px;
 background-color:#2f5167;
 color:#fff;
 height:120px;
}

.footer-list{
  float:right;
  
}
  
.footer-list li{
  padding-bottom:20px;
  float:none;
}

.footer-logo{
  font-size:32px;
  float:left;
}
